*
!.gitignore
!.config/
!.config/hypr/
!.config/foot/
!.config/fish/
!.config/nvim/
!.config/mpv/
!.config/fcitx/
!.config/fcitx5/
!.config/goldendict/
!.config/mozc/
!.config/user-dirs.conf
!.config/user-dirs.dirs
!.config/user-dirs.locale
!.cargo/
!.cargo/env.fish
!.config/hypr/**
!.config/foot/**
!.config/fish/**
!.config/nvim/**
!.config/mpv/**
!.config/fcitx/**
!.config/fcitx5/**
!.config/goldendict/**
!.config/mozc/**
!.bashrc
!readme.md
