*
!.gitignore
!.config/
!.config/hypr/
!.config/foot/
!.config/fish/
!.config/nvim/
!.config/mpv/
!.config/fcitx/
!.config/fcitx5/
!.config/goldendict/
!.config/mozc/
!.config/hypr/**
!.config/foot/**
!.config/fish/**
!.config/nvim/**
!.config/mpv/**
!.config/fcitx/**
!.config/fcitx5/**
!.config/goldendict/**
!.config/mozc/**
!.bashrc
!readme.md
